<h3> <img src="./images/me.jfif" height="250" width="250"> Daniel Ayoub</h3>
<p> <strong> Software Develoepr</strong>
  <br> 
  Full-Stack Developer | Agile Programming | Team-player
  <br> 
  <strong> Key Skills</strong>
  <ul > 
    <li> Software Development </li>
    <li> Software Testing</li>
    <li> Software Integration </li>
    <li> Strong .NET Experience </li>
    <li> SQL Database and Microsoft CRM Experience</li>
  </ul>
 </p>