<p> Welcome! My mission here is to develop software that will save <strong> YOU </strong> time, so you can spend more time on what's important. </p>
<a href="/about">
    <button>Learn more about me here!</button>
 </a>

<img src="./images/family.jpg" height="980" width="1820"> 