<ul>
    <li> Equifax API Update</li>
    <p> At my internship, I was tasked with updating the API that pulls consumer credit reports for more security. I implemented a new end point to the previous code for seemless calling. </p>
    <li> Java</li>
    <p> For a school project, I implemented skills I have learned in the prior year in to a language that is new to me; Java! I made classes with constructors and methods, then tested them. </p>
    <li> This website! </li>
    <p> This is my first time experimenting with Express. The functionality of using partials and saving time/space in the code has been fun to learn. </p>
</ul>