<ul>
    <li> .NET Software Development</li>
    <p>Experience in creating .NET projects to solve a wide range of problems </p>
    <li> Agile development</li>
    <p> Familiar with and in strong support of agile development techniques, especially weekly team meetings.  </p>
    <li> Software Integration </li>
    <p> Strong integration skills into your previously existing software system.  </p>
</ul>